body {
    margin: 0;
    padding: 0;
    background-color: azure;
    font-family: Arial, sans-serif;
}

#navbar {
    background-color: rgba(50, 133, 50, 0.434);
    color: #fff;
    padding: 10px;
}

#navbar ul {
    list-style-type: none;
    padding-left: 50px;
}

#navbar_item {
    display: inline;
    margin-right: 14px;
    font-family: "Lucida Sans", "Arial";
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: aqua;
}

#navbar_item.active {
    background-color: rgba(161, 175, 175, 0.62);
}

a {
    color: #2f1cd8;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

#primary_element {
    max-width: 80%;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2% 5%;
    background-color: #f4f4f4;
    border: 2px solid black;
    border-radius: 10px;
}

.siteheading {
    margin-bottom: 30px;
}

.heading {
    font-size: 40px;
    margin-top: 0;
}

.register-box {
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(98, 116, 138, 1);
    color: white;
    text-align: center;
    border: 1px solid rgba(50, 133, 50, 0.434);
}

.textcontent {
    font-size: 16px;
    margin-top: 10px;
}

.form_element {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 5px;
    font-size: 16px;
}

#submit_button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.result_heading {
    margin-bottom: 30px;
}

.success {
    color: green;
    font-weight: 800;
    font-size: 30px;
    font-family: "Times New Roman";
}

.failure {
    color: red;
    font-weight: 600;
    font-size: 20px;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 20px;
}

.password-match {
    border: 2px solid green;
}

.password-mismatch {
    border: 2px solid red;
}

#login_button {
    background-color: rgba(58, 127, 185);
    border: 1px solid black;
    padding: 10px 2px;
    border-radius: 5px;
    color: white;
    width: 100%;
}

p a {
    color: white;
    text-decoration: underline;
}

#register-button {
    background-color: rgba(40, 168, 68);
    border: 1px solid black;
    padding: 10px 2px;
    border-radius: 5px;
    color: white;
    width: 100%;
    font-weight: 600;
}

#register-button:disabled {
    background-color: rgba(85, 83, 83, 0.374);
    color: darkblue;
}

.primary_element {
    border: 2px solid black;
    border-radius: 10px;
}

.form_element label {
    font-weight: 200;
    color: rgba(25, 25, 25, 0.9);
}
