body {
    margin: 0;
    padding: 0;
    background-color: azure;
    font-family: Arial, sans-serif;
}

#navbar {
    background-color: rgb(2, 85, 2);
    color: #fff;
    padding: 10px;
}

#navbar ul {
    list-style-type: none;
    padding-left: 50px;
}

#navbar_item {
    display: inline;
    margin-right: 14px;
    font-family: "Lucida Sans", "Arial";
    border: #a71e1e;
}

a {
    color: #df9595;
    text-decoration: none;
}

#primary_element {
    max-width: 80%;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    background-color: #f4f4f4;
}

.siteheading {
    margin-bottom: 30px;
}

.heading {
    font-size: 40px;
    margin-top: 0;
}

.textcontent {
    font-size: 16px;
    margin-top: 10px;
}

.form_element {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 5px;
    font-size: 16px;
}

#submit_button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.result_heading {
    margin-bottom: 30px;
}

.success {
    color: green;
    font-weight: 800;
    font-size: 30px;
    font-family: "Times New Roman";
}

.failure {
    color: red;
    font-weight: 600;
    font-size: 20px;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 20px;
}
