{% extends 'base.html' %} {% block content %}
<div class="form">
    {%if message %}
    <h2 style="color: rgb(255, 0, 0)">{{message}}</h2>
    {% endif %} {% if test_status == "Fail" %}
    <p class="failure">
        Oh No! Looks like you have following issues with your password!
    </p>
    <ul>
        {% for line in failure_result %}
        <li>{{line}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h3 class="signup">Register</h3>
    <p
        class="heading"
        style="
            color: rgba(150, 150, 150, 0.8);
            text-align: center;
            font-size: 14px;
        "
    >
        Create your account. It's free and only takes a minute
    </p>
    <form action="/signup" method="post">
        <div class="signup_names">
            <div class="form_element">
                <label for="fname">First Name:</label>
                <input type="text" name="fname" id="fname" required />
            </div>
            <div class="form_element">
                <label for="lname">Last Name:</label>
                <input type="text" name="lname" id="lname" required />
            </div>
        </div>
        <div class="form_element">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" required />
        </div>
        <div class="form_element">
            <label for="password">Password:</label>
            <input
                type="password"
                name="password"
                id="password"
                oninput="checkPasswordMatch()"
                required
            />
        </div>
        <div class="form_element">
            <label for="confirmPassword">Confirm Password:</label>
            <input
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                oninput="checkPasswordMatch()"
                required
            />
        </div>
        <div class="form_element div_submit_button">
            <input
                type="submit"
                value="Register Now"
                id="register-button"
                disabled
            />
        </div>
    </form>
    <div class="register-box">
        <p>Already have an account? <a href="/">Sign In</a></p>
    </div>
</div>
<script>
    function checkPasswordMatch() {
        var pass_el = document.getElementById("password");
        var check_pass_el = document.getElementById("confirmPassword");
        var submit_but = document.getElementById("register-button");

        var pass_value = pass_el.value;
        var check_pass_value = check_pass_el.value;
        if (pass_value === check_pass_value) {
            submit_but.disabled = false;
            pass_el.classList.remove("password-mismatch");
            check_pass_el.classList.remove("password-mismatch");
            pass_el.classList.add("password-match");
            check_pass_el.classList.add("password-match");
        } else {
            submit_but.disabled = true;
            pass_el.classList.remove("password-match");
            check_pass_el.classList.remove("password-match");
            pass_el.classList.add("password-mismatch");
            check_pass_el.classList.add("password-mismatch");
        }
    }
</script>
{% if failcount >= 3 %}
<script>
    alert(
        "Warning: Three consecutive failed attempts. Please try again later."
    );
</script>
{% endif %} {% endblock %}
